:root {
	--light-red: #ff6b6b;
  --red: #ff3d3d;
  --orange: #ffc400;
  --yellow: #ffe066;
	--green: #9e9;
	--dark-green: #6a6;
  --light-blue: #acf;
	--blue: #8ad;
	--dark-blue: #64d;
	--light-gray: #ddd;
  --gray: #333;
	--black: #111;
  --white: #fff;
}
.red             { color: var(--red)        !important; }
.orange          { color: var(--orange)     !important; }
.yellow          { color: var(--yellow)     !important; }
.light-blue      { color: var(--light-blue) !important; }
.gray            { color: var(--gray)       !important; }
.light-gray      { color: var(--light-gray) !important; }
.var-gray        { color: var(--light-gray) !important; }
.night .var-gray { color: #777            !important;}
.white           { color: var(--white)      !important; }

body {
  /* Sizes */
  line-height: 1.5;
  /* Font */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  font-style: normal;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}

/* macro ctp fix */
.macro-ctp-wrapper {
  width: 100%;
}

span.debug {
  width: 100%;
}

span.macro-ctp-entry {
  width: 100%;
}

/* alignment */
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}
.left {
  text-align: left !important;
}