/* https://twinery.org/forum/discussion/5625/any-dynamic-text-effect-macros-for-sugarcube-2-x */
.shadow {
	text-shadow: 0.08em 0.08em 0.08em #FFF;
}
.emboss {
	text-shadow: 0.08em 0.08em 0em currentColor;
}
.blur {
	color: transparent;
	text-shadow: 0em 0em 0.08em #FFF;
}
.blurrier {
	color: transparent;
	text-shadow: 0em 0em 0.2em #FFF;
}
.blurrier::selection {
	background-color: transparent;
	color: transparent;
}
.blurrier::-moz-selection {
	background-color: transparent;
	color: transparent;
}
.smear {
	color: transparent;
	/* text-shadow:
		0em    0em 0.02em rgba(255,255,255,0.75),
		-0.2em 0em 0.5em  rgba(255,255,255,0.5),
		0.2em  0em 0.5em  rgba(255,255,255,0.5); */
	text-shadow:
		0em    0em 0.02em currentcolor,
		-0.2em 0em 0.5em  currentcolor,
		0.2em  0em 0.5em  currentcolor;
}
.mirror {
	display: inline-block;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}
.upside-down {
	display: inline-block;
	transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
}
.underline {
	text-decoration: underline;
}
.double-underline {
	text-decoration-line: underline;
	text-decoration-style: double;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}

@-webkit-keyframes fade-in-out {
	0%,
	to {opacity: 0}
	50% {opacity: 1}
}
@keyframes fade-in-out {
	0%,
	to {opacity: 0}
	50% {opacity: 1}
}
.fade-in-out {
	text-decoration: none;
	animation: fade-in-out 2s ease-in-out infinite alternate;
	-webkit-animation: fade-in-out 2s ease-in-out infinite alternate;
}

@-webkit-keyframes rumble {
	50% {
		-webkit-transform: translateY(-.2em);
		transform: translateY(-.2em)
	}
}
@keyframes rumble {
	50% {
		-webkit-transform: translateY(-.2em);
		transform: translateY(-.2em)
	}
}
.rumble {
	-webkit-animation: rumble linear 0.1s 0s infinite;
	animation: rumble linear 0.1s 0s infinite;
	display:inline-block;
}

@-webkit-keyframes shudder {
	50% {
		-webkit-transform: translateX(0.2em);
		transform: translateX(0.2em)
	}
}
@keyframes shudder {
	50% {
		-webkit-transform: translateX(0.2em);
		transform: translateX(0.2em)
	}
}
.shudder {
	-webkit-animation: shudder linear 0.1s 0s infinite;
	animation: shudder linear 0.1s 0s infinite;
	display: inline-block;
}

@-webkit-keyframes pulse {
	0%  { -webkit-transform: scale(0, 0); transform: scale(0, 0) }
	20% { -webkit-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2) }
	40% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9) }
	60% { -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05) }
	80% { -webkit-transform: scale(0.925, 0.925); transform:scale(0.925, 0.925) }
	to  { -webkit-transform: scale(1, 1); transform: scale(1, 1) }
}
@keyframes pulse {
	0%  { -webkit-transform: scale(0, 0); transform: scale(0, 0) }
	20% { -webkit-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2) }
	40% { -webkit-transform: scale(0.9, 0.9); transform: scale(0.9, 0.9) }
	60% { -webkit-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05) }
	80% { -webkit-transform: scale(0.925, 0.925); transform: scale(0.925, 0.925) }
	to  { -webkit-transform: scale(1, 1); transform: scale(1, 1) }
}
.pulse {
	-webkit-animation: pulse 0.8s;
	animation: pulse 0.8s;
	display: inline-block;
}

@-webkit-keyframes appear {
	0% { opacity: 0; }
	to { opacity: 1; }
}
@keyframes appear {
	0% { opacity: 0; }
	to { opacity: 1; }
}
.appear {
	-webkit-animation: appear 0.8s;
	animation: appear 0.8s;
	display: inline-block;
}

@-webkit-keyframes buoy {
	25%   { -webkit-transform: translateY(0.25em); }
	75%   { -webkit-transform: translateY(-0.25em); }
	0%,to { -webkit-transform: translateY(0px); }
}
@keyframes buoy {
	25%   { transform: translateY(0.25em); }
	75%   { transform: translateY(-0.25em); }
	0%,to { transform: translateY(0px); }
}
.buoy {
	-webkit-animation: buoy linear 2s 0s infinite;
	animation: buoy linear 2s 0s infinite;
	display: inline-block;
}

@-webkit-keyframes sway {
	25%   { -webkit-transform: translateX(0.25em); }
	75%   { -webkit-transform: translateX(-0.25em); }
	0%,to { -webkit-transform: translateX(0px); }
}
@keyframes sway {
	25%   { transform: translateX(0.25em); }
	75%   { transform: translateX(-0.25em); }
	0%,to { transform: translateX(0px); }
}
.sway {
	-webkit-animation: sway linear 2s 0s infinite;
	animation: sway linear 2s 0s infinite;
	display: inline-block;
}
